<a href="https://colab.research.google.com/github/hariharihi/Python_tutorial_programmers/blob/main/Day03/%5BExercise%5D%20%EC%A7%81%EC%82%AC%EA%B0%81%ED%98%95%20%EB%B3%84%EC%B0%8D%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#[Exercise] 직사각형 별찍기

###문제 설명
이 문제에는 표준 입력으로 두 개의 정수 n과 m이 주어집니다.
별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 출력해보세요.

###제한 조건
- n과 m은 각각 1000 이하인 자연수입니다.
- 문제 링크: https://programmers.co.kr/learn/courses/30/lessons/12969

In [4]:
n, m = map(int, input(). strip().split(' '))
rec = ((n * '*' + '\n') * m).rstrip()
print(rec)

5 3
*****
*****
*****

In [6]:
# OR
n, m = map(int, input().strip().split(' '))

for i in range(m):
    for j in range(n):
        print('*', end='')
    print('')

5 3
*****
*****
*****

In [ ]:
# map(): 
    # map(function, iterable):
      # 1번째 매개변수로는 함수가 오고, 2번째 매개변수로는 반복 가능한 자료형(리스트, 튜플 등)
      # map 함수의 반환 값은 map객체 이기 때문에 해당 자료형을 list 혹은 tuple로 형 변환

# 1) list
def func(x):
  return x * 2

list(map(func, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [ ]:
# 2) dict - key
x = {1: 10, 2: 20, 3: 30}
list(map(func, x))

[2, 4, 6]

In [ ]:
# 2) dict - value

x = {1: 10, 2: 20, 3: 30}
list(map(func, [x[i] for i in x]))

[20, 40, 60]