<a href="https://colab.research.google.com/github/hariharihi/Python_tutorial_programmers/blob/main/Day03/%5BExercise%5D%20%EC%9E%90%EC%97%B0%EC%88%98%20%EB%92%A4%EC%A7%91%EC%96%B4%20%EB%B0%B0%EC%97%B4%EB%A1%9C%20%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#[Exercise] 자연수 뒤집어 배열로 만들기
###문제 설명
자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

###제한 조건
= n은 10,000,000,000이하인 자연수입니다.
- 문제링크: https://programmers.co.kr/learn/courses/30/lessons/12932

In [1]:
def solution(n):
    n_list = [int(i) for i in str(n)] 
    reverse_list = [n_list[len(n_list)-1-i] for i in range(len(n_list))]
    return reverse_list

print(solution(12345))

[5, 4, 3, 2, 1]

In [17]:
#OR using [::-1]
def solution(n):
    n_list = [int(i) for i in str(n)] 
    reverse_list = n_list[::-1]
    return reverse_list

print(solution(12345))

[5, 4, 3, 2, 1]

In [2]:
#OR using list.reverse()

def solution(n):
    n_list = [int(i) for i in str(n)] 
    n_list.reverse()
    return n_list

print(solution(12345))

[5, 4, 3, 2, 1]

In [9]:
#OR using reversed(list)

def solution(n):
    n_list = [int(i) for i in str(n)] 
    reverse_list = list(reversed(n_list))
    return reverse_list

print(solution(12345))

[5, 4, 3, 2, 1]

In [11]:
#OR using list.sort(reverse=True)

def solution(n):
    n_list = [int(i) for i in str(n)] 
    n_list.sort(reverse=True)
    return n_list

print(solution(12345))

[5, 4, 3, 2, 1]